*{
    box-sizing: border-box;
}

table{
    /* border: 1px solid black; */
}
h1 {
    text-align: center;
    font-family: fantasy;
    background-color: ivory;
    color:brown;
}
body{
    background-color: lawngreen;
}
td{
    padding-left: 10px;
    border: 0.1px solid  black;
    /* background-color: lightgreen; */
    background-image: linear-gradient(skyblue, lightgreen);
   color: black;
   font-style: oblique;
}
td:hover{
    text-align: center;
  background-color: cadetblue;
  color: darkred;
  font-style: italic;
  font-weight: 300;
}